Navbar{
    color:azure;
}
body{
    color: azure;
}

.white{
    color: azure;
}

p {
    text-align: justify;
    text-justify: inter-word;
  }

  .center {
    margin: auto;
    padding: 10px;
    width: 100%;
    display:inline-block;

  }

#trips-table tr:hover {
     cursor:pointer;
     color: white;
     background: rgb(7, 0, 0);
     outline: thin solid;
    }
#table-header{
    background-color: rgb(140, 173, 196); color: black ;

}
#leaflet { height: 400px; }
.Subscriber { background-color: rgb(253, 189, 189); color: rgb(0, 0, 0);
    padding: 10px; }
.Customer { background-color: rgb(187, 219, 240); color: black ;
    padding: 10px; }
.thd { background-color: rgb(170, 220, 255); color: black ; }

.Btn{
    color:rgb(1, 27, 46)
}
#tableHead{
    background-color:azure; color: black ;
    font-weight:bolder;
}
